# Ignore environment files
.env*
.env
.env.dev
.env.prod
.env.test

# Allow safe example env template
!.env.prod.example

# Ignore local database
db.sqlite3

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/